@import "variables";
@import "mixins";

.left-sidebar {
  &__text {
    @include sideways-vertical-text;

    font-size: $left-sidebar-text-font-size;
    margin-bottom: 0;

    &--name {
      text-transform: uppercase;
    }

    &--email {
      margin-top: 58px;
    }
  }

  &--lg {
    position: fixed;
    @include vertically-centered-absolute-positioning;
    margin-left: $sidebar-screen-margin;

    // Reset the line-height to match the font-size so that the margin between
    // the content and the left side bar is easily calculated.
    @at-root #{&} .left-sidebar__text {
      line-height: 1;
    }

    @include hidden-md-down;
  }

  &--md {
    flex: 1 0 auto;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    @include visible-md-down;

    @at-root #{&} .left-sidebar__text {
      // Horizontally center the text
      line-height: $header-width-xs;
    }

    &-open {
      display: none;
    }
  }
}
