@import "src/components/header/header-variables";
@import "mixins";

.left-sidebar {
  flex: 1 0 auto;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  @include visible-md-down;

  &__text {
    @include sideways-vertical-text;
    // Horizontally center the text
    line-height: $header-width-xs;

    font-size: 14px;
    margin-bottom: 0;

    &--name {
      text-transform: uppercase;
    }

    &--email {
      margin-top: 58px;
    }
  }
}
