@import "variables";
@import "mixins";

.content {
  // Move the content over the height/width of the header 
  margin-top: $header-height;
  @media #{$md} {
    margin: 0 $content-horizontal-margin 0 #{$header-width-xs + $content-horizontal-margin};
  }
}

.logo {
  position: sticky;
  top: $content-horizontal-margin;
  // Aligns the logo with the edge of the .content container
  left: 100%;

  @include visible-md-down;
}

section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.section {
  &__outer {
    margin: $section-vertical-margin 0;
  }

  &__heading {
    background-color: $tertiary-color;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
  }
}
