@import "variables";
@import "mixins";

.home {
  // Center the home content relative to the viewport height and header height
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$header-height});

  // There's no header at the top to compensate for on mobile
  @media #{$md} {
    height: 100vh;
  }

  &__inner {
    max-width: 560px;
  }

  $line-font-size: 14px;

  &__overline, &__underline {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 54px;

    @media #{$md} {
      font-size: 12px;
    }

    @media #{$sm} {
      font-size: 10px;
    }
  }

  &__underline {
    margin-bottom: 0;
  }

  &__heading {
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: normal;
    color: $secondary-color;
    margin-bottom: 48px;

    @media #{$md} {
      font-size: 36px;
      margin-bottom: 30px;
    }

    @media #{$sm} {
      font-size: 30px;
    }
  }

  &__subheading {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 54px;

    @media #{$md} {
      font-size: 24px;
    }

    @media #{$sm} {
      font-size: 16px;
    }
  }
}
