@import "variables";
@import "vendorPrefixMixins";

@mixin vertically-centered-absolute-positioning {
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin horizontally-centered-absolute-positioning {
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin sideways-vertical-text {
  // TODO: Only supported on modern browsers?
  @include writing-mode(vertical-lr);
  @include text-orientation(sideways);
  @include transform(rotate(180deg));
}

@mixin hidden-md-down {
  @media #{$md} {
    display: none;
  }
}

@mixin visible-md-down {
  @media #{$md-up} {
    display: none;
  }
}
