@import "variables";

@mixin vertically-centered-absolute-positioning {
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin horizontally-centered-absolute-positioning {
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin sideways-vertical-text {
  // TODO: Only supported on modern browsers?
  @include writing-mode(vertical-lr);
  @include text-orientation(sideways);
  @include transform(rotate(180deg));
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin writing-mode($writing-mode) {
  -webkit-writing-mode: $writing-mode;
  -ms-writing-mode: $writing-mode;
  writing-mode: $writing-mode;
}

@mixin text-orientation($text-orientation) {
  -webkit-text-orientation: $text-orientation;
  text-orientation: $text-orientation;
}

@mixin hidden-md {
  @media #{$md} {
    display: none;
  }
}
