$screen-breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@function screen-breakpoint($size) {
    @return map-get($screen-breakpoints, $size);
}

// Small devices (landscape phones, 576px and down)
$sm: "only screen and (max-width: #{screen-breakpoint("sm")})";
// Medium devices (tablets, 768px and down)
$md: "only screen and (max-width:  #{screen-breakpoint("md")})";
// 769px and up 
$md-up: "only screen and (min-width:  #{screen-breakpoint("md") + 1})";
// Large devices (desktops, 992px and dowm)
$lg: "only screen and (max-width: #{screen-breakpoint("lg")})";
// Extra large devices (large desktops, 1200px and up)
$xl: "only screen and (max-width: #{screen-breakpoint("xl")})";

// Defines the left and right margin on the outer edge of the website
$sceen-margin: 58px;

$primary-color: #FFF4EE;
