$screen-breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@function screen-breakpoint($size) {
    @return map-get($screen-breakpoints, $size);
}

// Small devices (landscape phones, 576px and down)
$sm: "only screen and (max-width: #{screen-breakpoint("sm")})";
// Medium devices (tablets, 768px and down)
$md: "only screen and (max-width:  #{screen-breakpoint("md")})";
// 769px and up 
$md-up: "only screen and (min-width:  #{screen-breakpoint("md") + 1})";
// Large devices (desktops, 992px and dowm)
$lg: "only screen and (max-width: #{screen-breakpoint("lg")})";
// Extra large devices (large desktops, 1200px and up)
$xl: "only screen and (max-width: #{screen-breakpoint("xl")})";

// Defines the left and right margin on the outer edge of the website
$sceen-margin: 58px;

$primary-color: #FFF4EE;
$secondary-color: #ED5500;
$tertiary-color: #FFBE9A;

$background-text-color: #666;

$group-background-color: #FFF4EE;
$shadow-color: #FFE5D7;

/* header */
$header-font-size: 14px;
$header-vertical-margin: 40px;
$header-height: $header-font-size + ($header-vertical-margin * 2);
$header-width-xs: 58px;

/* left sidebar */
$left-sidebar-text-font-size: 14px;
$left-sidebar-screen-content-margin: 10px;
$sidebar-screen-margin: $sceen-margin - $left-sidebar-text-font-size - $left-sidebar-screen-content-margin;

/* nav menu */
$nav-menu-link-horizontal-margin-lg: 42px;

/* logo */
$logo-height: 35px; 

/* content */
$content-horizontal-margin: 40px;

$section-vertical-margin: 50px; 
