@import "variables";
@import "mixins";

.nav-menu {
  text-align: right;
  @include hidden-md-down;

  &__link {
    font-size: 12px;
    color: $background-text-color;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;

    display: inline-block;
    margin: $header-vertical-margin 70px;
    line-height: 1;

    &:last-child {
      margin-right: $sceen-margin;
    }

    @media #{$lg} {
      margin-left: $nav-menu-link-horizontal-margin-lg;
      margin-right: $nav-menu-link-horizontal-margin-lg;
    }
  }

  @media #{$md} {
    &--open {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      text-align: left;
      flex: 1 0 auto;

      @at-root #{&} .nav-menu__link {
        margin: 20px $nav-menu-link-horizontal-margin-lg;
      }
    }
  }
}
