@import "variables";
@import "mixins";

.skills {
  &__group {
    background-color: $group-background-color;
    padding: 24px;
    display: inline-block;
    width: 100%;
    margin: 0 0 $skills-group-margin;
    @include filter(drop-shadow(5px 5px 0 #{$shadow-color}));
  }

  &__group-heading {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }

  &__skill {
    border: 1px solid black;
    display: inline-block;
    margin: 8px;
    line-height: 1;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
  }
}
